Flask
gunicorn
Jinja2
MarkupSafe
Werkzeug==0.15.5
numpy>=1.9.2
scipy>=0.15.1
nltk==3.5
scikit-learn>=0.18
pandas>=0.19
beautifulsoup4
jsonschema==3.2.0
tmdbv3api
lxml
urllib3
requests
pickleshare==0.7.5
